#grey{
  background-color: #302C2D;
  color: #FFFFFF;
}
#bluec{
  background-color: #16A086;
  padding-bottom: 4%;

}
#yellow{
  background-color: #F39C11;
  padding-bottom: 2%;
  padding-top: 1%;
}
#red{
  background-color: #E84C3D;
  padding-bottom: 2%;
  padding-top: 1%;
}
#blueb{
  background-color: #0a6b9B;
  padding-bottom: 2%;
  padding-top: 1%;
}
#black{
  background-color: #08000a;
  padding-bottom: 10%;
}
.emoji{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 30%;
  width: 65%;
}
.align{
  text-align: center;
  padding-top: 4%;
  padding-left: 4%;
  width: 95%;
}
.address{
  padding-top: 8%;
  padding-left: 30%;
  width: 95%;
  list-style-type:none;
}
.development{
  text-align: center;
  padding-top: 2%;
}
.quality{
  list-style-type:none;
}
.logohtml{
  width: 10%;
}
.logocss{
  width: 10%;
}
.logoangularJs{
width: 10%;
}
.logojs{
  width: 10%;
}
.logophp{
  width: 10%;
}
.logobootstrap{
  width: 10%;
}
.ampoule{
  width: 3%;
}
.optimiste{
    width: 15%;
}
.esprit{
  width: 30%;
}
.persévérant{
  width: 16%;
}
.diplômes{
  width: 20%;
}
.rouage{
width: 10%;
}
.experience{
  width: 8%;
}
/* Début progresse barre test */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  padding-left: 0px !important;
}

.skills {
  text-align: right; /* Right-align text */
  padding: 2%; /* Add some padding */
  color: white; /* White text color */
}

.html {width: 70%; background-color: #f16529;} /* Green #4CAF50 */
.css {width: 50%; background-color: #369cd6;} /* Blue #2196F3 */
.js {width: 20%; background-color: #efc725;} /* Red #f44336*/
.php {width: 10%; background-color: #777bb3;} /* Dark Grey #808080 */
.angularJs {width: 30%; background-color: #c3002f;}
.bootstrap {width: 50%; background-color: #583c80;}
/* fin test progresse barre */
